@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.screen__block {
  position: absolute;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
  transition: transform 0.5s ease;
}

label:has(+ [required])::after {
  content: ' *';
  color: red;
}

#moneyTransferForm {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

#moneyTransferForm.open {
  max-height: 600px;
  opacity: 1;
}

#invoiceRefundForm {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

#invoiceRefundForm.open {
  max-height: 600px;
  opacity: 1;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-montserrat {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-dm {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-style: normal;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

/* swipe */
.animation-container {
  position: relative;
  width: 100%;
  height: 100px;
}

.circle {
  position: absolute;
  width: 200px;
  height: 50px;
  animation: swoop 2s ease-in-out infinite;
}

@keyframes swoop {
  0% {
    left: 90%;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    left: 10%;
    transform: translateX(-50%);
    opacity: 0;
  }
}

/* header-card */
.header-card {
  background: linear-gradient(141deg, #0284c7, #2563eb, #0891b2, #0ea5e9);
  background-size: 300% 300%;
  animation: header-card-content 10s ease infinite;
}

@keyframes header-card-content {
  0% {
    background-position: 0% 53%;
  }
  50% {
    background-position: 100% 48%;
  }
  100% {
    background-position: 0% 53%;
  }
}

.toast {
  position: fixed;
  top: 3.5rem;
  right: 0;
  transform: translateY(100vh);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
  z-index: 9999;
  cursor: default;
}

.toast.show {
  transform: translateY(0);
  opacity: 1;
}

.toast.hide {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

.toast.hide-complete {
  transform: translateY(100vh);
  opacity: 0;
}

.customModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(148, 163, 184, 0.7);
}
